.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    margin-bottom: 20px;
}

.cell {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.cell.red {
    background-color: red;
}

.controls {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-left: 40px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: black;
    color: white;
}

.github-button {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: black;
    color: white;
    transition: background-color 0.3s ease;
    
}

.github-button:hover {
    background-color: #eceaea;
    color: black;
}
