.app-container {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.app-header {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.app-footer {
  width: 100%;
  padding: 20px;
  background-color: transparent;
  border-top: 1px solid #ccc;
  text-align: center;
}

.app-footer a {
  color: black;
  text-decoration: underline;
}

.chessboard-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
}

.chessboard-container .chessboard {
  border: 2px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
